<!-- <div class="model-checkboxes"> -->
                    
               <!-- <ng-container *ngFor="let model_to_view of models_to_view"> -->
                 <!-- <mat-checkbox class="model-checkboxes" (ngModel)="model_to_view" (change)="checkValue(model_to_view)"> -->
                    <!-- {{model_to_view.meta.titles}} -->
                    <!-- {{model_to_view.meta.descriptions}} -->
                    <!-- {{model_to_view.meta.date  | date : 'dd-MM-yyy' }} -->
                 <!-- </mat-checkbox> -->
                <!-- </ng-container> -->

<!-- </div> -->


<!-- https://www.positronx.io/angular-checkbox-tutorial/ -->

<!-- <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>

  <ng-container *ngFor="let model_to_view of models_to_view; let i=index">
    <label>
      <input type="checkbox" class="model-checkboxes" [value]="model_to_view" (change)="onCheckboxChange($event)" />
      {{model_to_view.meta.titles}}
      {{model_to_view.meta.date  | date : 'dd-MM-yyy'}}
    </label>
  </ng-container>

  <input type="submit" value="Submit">
</form> -->





<!-- <form>
  <mat-form-field appearance="fill">
      <mat-label>Select model</mat-label>
      <mat-select [formControl]="modelControl"> 
        <mat-option *ngFor="let selected_model of selected_models" value = "selected_model">
        {{selected_model.meta.titles}}
        </mat-option>
           </mat-select>
    </mat-form-field>

</form> -->




<!-- https://stackoverflow.com/questions/51476599/checkbox-object-in-angular -->

<!-- <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate> -->
<!-- <form [formGroup]="form">

  <ng-container *ngFor="let model_to_view of models_to_view; let i=index">
    <label>
      <input type="checkbox" class="model-checkboxes" [value]="model_to_view" (change)="onCheckboxChange(model_to_view)" />
      {{model_to_view.meta.titles}}
      {{model_to_view.meta.date  | date : 'dd-MM-yyy'}}
    </label>
  </ng-container>

</form> -->



<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



<div class="model-checkboxes">


  <form>
    <mat-form-field appearance="fill">
        <mat-label>Select organization</mat-label>
        <mat-select [formControl]="organizationControl" [(ngModel)]="organization" (selectionChange)="getModels(o = $event.value)">  
          <mat-option *ngFor="let organization of all_user_organizations" [value] = "organization"> 
          {{organization.title}} 
          </mat-option>
        </mat-select>
    </mat-form-field>
  
  </form>
  
</div>


<!-- this part needs to be tested with non empty tags -->
<!-- <div class="model-checkboxes">


  <form>
    <mat-form-field appearance="fill">
        <mat-label>Select model tag</mat-label>
        <mat-select [formControl]="tagControl" [(ngModel)]="model_tag" (selectionChange)="getModelsByOrganizationAndTag(o = this.organization, e = $event, tag = model_tag)">  
          <mat-option *ngFor="let model_tag of models_tags; let i=index" [value]="model_tag"> 
          {{model_tag}} 
          </mat-option>
        </mat-select>
    </mat-form-field>
  
  </form>
  
</div> -->

<!-- this part needs to be tested with non empty tags -->









<!-- If *ngIf is used instead of hidden, then the view is rendered again and the checkboxes selection is forgotten, because the models are fetched from scratch from the api -->

<div [hidden]="allSelectedModelsView">

<mat-paginator #paginator1
                [length]= "modelsByOrgCounter"
                [pageIndex]= "pageIndex"
                [pageSize]= "pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pageEvent = getModelsByOrganization(o = this.organization, e = $event)"
                >
</mat-paginator>


<mat-selection-list class="model-checkboxes">
  <mat-list-option *ngFor="let model_to_view of modelsDataSource.data; let i=index" [value]="model_to_view" (click)="onCheckboxChange(model_to_view)" [selected] = "checkboxSelected(model_to_view)" >
    {{model_to_view.meta.titles}}
    {{model_to_view.meta.date  | date : 'dd-MM-yyy'}}
</mat-list-option>
</mat-selection-list>

</div>


<div [hidden]="!allSelectedModelsView">

  <mat-list>
    <mat-list-item *ngFor= "let selected_model of selected_models" >
      {{selected_model.meta.titles}}
      {{selected_model.meta.date  | date : 'dd-MM-yyy'}}
    </mat-list-item>
  </mat-list>

</div>

<button mat-button color="accent" (click)="showAllSelectedModels()">Show only the Selected Models</button>




