<div class="model-selector">


  <form>
    <mat-form-field appearance="fill">
        <mat-label>Select model</mat-label>
        <mat-select [formControl]="modelControl">  
          <mat-option *ngFor="let selected_model of selectedModels" value = "selected_model">
          {{selected_model.meta.titles}} 
          </mat-option>
        </mat-select>
    </mat-form-field>
  
  </form>
  
</div>


<!-- <div class="model-selector">

<mat-list>
  
  <mat-list-item *ngFor= "let selected_model of selectedModels" >
    {{selected_model.meta.titles}}
    {{selected_model.meta.date  | date : 'dd-MM-yyy'}}
  </mat-list-item>
</mat-list>

</div> -->
